/* Font Embed code */
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100..700;1,100..700&display=swap');

#app {
  margin: 0 auto;
  font-weight: normal;
  width: 100%;
}
a:hover {
  cursor: pointer;
}


